.AlteredKey
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 33px;
    width: var(--alteredKeyWidth);
    height: var(--alteredKeyHeight);
    color: white;
    background: #414141;
    border-radius: 0 0 3px 3px;
    outline: none;
    border: none;
    font: inherit;
    user-select: none;
}

.AlteredKey:active
{
    background: linear-gradient(180deg, #414141 0%, #020202 100%);
}

.CSharp
{
    position: absolute;
    left: 96px;
}

.DSharp
{
    position: absolute;
    left: 262px;
}

.FSharp
{
    position: absolute;
    left: 531px;
}

.GSharp
{
    position: absolute;
    left: 688px;
}

.ASharp
{
    position: absolute;
    left: 845px;
}