.AlteredKey
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 33px;
    width: var(--alteredKeyWidth);
    height: var(--alteredKeyHeight);
    color: white;
    background: #414141;
    border-radius: 0 0 3px 3px;
    outline: none;
    border: none;
    font: inherit;
}

.AlteredKey:active
{
    background: linear-gradient(180deg, #414141 0%, #3C3C3C 100%);
}