.Octave
{
    position: relative;
    height: var(--clearedKeyHeight);
    display: flex;
    flex-direction: row;
}

.blockOfAlteredKeys
{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 95px;
    height: var(--alteredKeyHeight);
    gap: 192px;
}

.firstPartOfAlteredKeys
{
    display: flex;
    flex-direction: row;
    column-gap: 86px;
}

.secondPartOfAlteredKeys
{
    display: flex;
    flex-direction: row;
    column-gap: 86px;
}